.black {
    color: black;
}

.white {
    color: white;
}

.green {
    color: green;
}

.red {
    color: red;
}

.violet {
    color: rgb(156, 41, 193);
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.brown {
    color: rgb(78, 29, 0);
}