ul {
    list-style-type: "–\2009";
    margin: 0;
}

#logo {
    font-size: 1.5em;
}

#title {
    font-family: Cloister;
    font-size: 2.2em;
}

.title,
.subtitle {
    background-color: bisque;
}

.title {
    font-family: LucidaHW;
    font-size: 3em;
}

.subtitle {
    color: brown;
}

.year {
    background-color: antiquewhite;
    border-top: solid 1px grey;
    font-family: LucidaHW;
    font-size: 2em;
    font-weight: bold;
    padding: 1% 0 1% 0;
    text-align: center;
    width: 100%;
}

.year::before {
    content: 'Annus Domini '
}

.month {
    font-family: Libertine;
    background-color: lightgray;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 0 5px 0;
    text-align: center;
    width: 100%;
}

.day {
    font-family: Libertine;
}

.fa-square {
    margin: 3px 0 0 0;
}

.fa-square.white {
    border: solid 1px grey;
    border-radius: 3px;
}

.fa-square:not(.white) {
    border: solid 1px white;
    border-radius: 3px;
}

.outline {
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.antiphona,
.responsorium,
.versiculum {
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.antiphona {
    font-family: FlavGaramond;
}

.responsorium,
.versiculum {
    font-family: GregPlantin;
}

.small {
    font-size: smaller;
    line-height: 120%;
}

.small-caps {
    font-variant: small-caps;
    font-family: Libertine;
}

.text-justify {
    text-align: justify;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.before,
{
    color: grey;
    font-style: italic;
    text-align: center;
    margin-top: 10%;
}
.after {
    color: grey;
    font-style: italic;
    text-align: center;
    margin-bottom: 10%;
}

.before {
    margin: 4% 0 2% 0;
}

.after {
    margin: 2% 0 2% 0;
}

.before-large,
.after-large {
    font-size: 1.22em;
    text-align: center;
    margin: 2.0em 20%;
}

.before-small,
.after-small {
    font-size: 0.9em;
}

.first_line {
    font-family: Libertine;
    font-size: 1.12em;
    padding-left: 1.8em;
    text-indent:-1.8em;
}

.body {
    font-family: Libertine;
    font-size: 1.12em;
}

.day {
    font-family: Libertine;
    font-size: 1.12em;
}

.weekday {
    font-family: Libertine;
    font-size: 1.12em;
}

.header {
    font-family: LibertineSC;
    font-size: 1.10em;
    font-variant: small-caps;
}

.de-ea {
    font-family: Libertine;
    font-size: 1.00em;
    font-variant: none;
    font-weight: normal;
}

.rank {
    font-family: Libertine;
    font-weight: bold;
    font-size: 1.12em;
    position: relative;
}

.dominica {
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
    border-radius: 4px;
    font-variant: small-caps;
    padding: 1px 4px 1px 4px;
}

.solemnitas-major {
    font-variant: small-caps;
    font-weight: bold;
}

.solemnitas-minor {
    font-variant: small-caps;
    font-weight: bold;
}

.festum,
.memoria-major,
.memoria-minor {
    color: rgb(70, 70, 70);
}

.festum {
    font-variant: small-caps;
    font-weight: bold;
}

.memoria-major {
    font-weight: bold;
}

.memoria-minor {
    font-style: italic;
}