#logo {
    color: green;
    font-size: 1.2em;
}

#title {
    color: orange;
    font-family: LucidaHW;
    font-size: 1.5em;
}

.violet {
    color: violet;
}

.title {
    background-color: bisque;
    color: orange;
    font-family: LucidaHW;
    font-size: 3em;
    text-align: center;
    width: 100%;
}

.year {
    background-color: antiquewhite;
    color: blue;
    font-size: 2em;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.month {
    background-color: lightgray;
    color: green;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.element {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    width: 30%;
}

.hat {
    font-style: italic;
    margin: 0 0 0 30px;
}

.head {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.day {
    font-weight: bold;
    margin: 0 5px 0 0;
    margin: 0 0 0 5px;
}

.weekday {
    font-weight: bold;
    margin: 0 0 0 5px;
}

.header {
    margin: 0 0 0 5px;
}

.body {
    margin: 0 0 0 30px;
}