ul {
    list-style-type: "";
    margin: 0;
}

ul_original {
    list-style-type: "–\2009";
    margin: 0;
}


#logo {
    font-size: 24pt;
}

#title {
    font-family: Cloister;
    font-size: 28pt;
}

#title-right {
    font-family: Cloister;
    font-size: 28pt;
    text-align: right;
}

.title,
.subtitle {
    background-color: bisque;
}

.title {
    font-family: LucidaHW;
    font-size: 3em;
}

.subtitle {
    font-family: Libertine;
    color: brown;
}

.year {
    background-color: antiquewhite;
    border-top: solid 1px grey;
    font-family: LucidaHW;
    font-size: 2em;
    font-weight: bold;
    padding: 1% 0 1% 0;
    text-align: center;
    width: 100%;
}

.sticky-top-2 {
    position: sticky;
    top: 3px;
    /*top: 70px; /* posune vrchní část kontejneru níže */ */
    z-index: 1021; /* 1019: posouvá kontejner pod hlavní banner */
    width: 30%;
    padding: 5px 0 5px 0;
  }
 
 .body-smaller {
    font-family: Libertine;
    font-size: 13pt;
    font-variant-numeric: oldstyle-nums;
    line-height: 100%;
    }

.month {
    font-family: Libertine;
    text-transform: uppercase;
    /*background-color: lightblue;*/
    background-image: linear-gradient(
       to right,
       #7080fa 0,
       #e8fcff 8%, 
       #ffffff 20%,
       #ffffff 80%,
       #e8fcff 92%,
       #7080fa 100%
    );
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    font-size: 22pt;
    padding: 1px 0 1px 0;
    text-align: center;
    width: 100%;
}

.day {
    font-family: Libertine;
}

.fa-square {
    margin: 3px 0 0 0;
}

.fa-square.white {
    border: solid 1px grey;
    border-radius: 3px;
}

.fa-square:not(.white) {
    border: solid 1px white;
    border-radius: 3px;
}

.outline {
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.golden {
   color: transparent;
    font-family: 'LibertineSC';
    letter-spacing: 1px;
    font-weight: bold;
    background-image: linear-gradient(
          to right,
           #462523 0,
           #cb9b51 22%, 
           #f6e27a 45%,
           #f6f2c0 50%,
           #f6e27a 55%,
           #cb9b51 78%,
           #462523 100%
        );

    -webkit-background-clip: text;
    background-clip: text;
}

.antiphona,
.responsorium,
.versiculum {
    color: rgb(200, 0, 0);
    font-weight: bold;
}

.antiphona {
    font-family: FlavGaramond;
}

.responsorium,
.versiculum {
    font-family: GregPlantin;
}

.small {
    font-size: smaller;
    line-height: 120%;
}

.small_pg {
    font-size: smaller;
    line-height: 120%;
    padding-top: 6px;
    text-indent: 1em;
}

.small-caps {
    font-variant: small-caps;
    font-family: Libertine;
}

.text-justify {
    text-align: justify;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

u {
  text-decoration: underline;
  text-decoration-style: double;
}

uu {
  text-decoration: underline;
  text-decoration-style: double;
}

.before,
{
    color: grey;
    font-style: italic;
    text-align: center;
    margin-top: 10%;
}
.after {
    color: grey;
    font-style: italic;
    text-align: center;
    margin-bottom: 10%;
}

.before {
    margin: 4% 0 2% 0;
}

.after {
    margin: 2% 0 2% 0;
}

.pars {
    font-size: 140%;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
}

.before-large,
.after-large {
    font-size: 1.22em;
    text-align: center;
    margin: 1.0em 20%;
}

.before-small,
.after-small {
    font-size: 12pt;
}

.first_line {
    font-family: Libertine;
    font-size: 15pt;
    padding-left: 1.8em;
    text-indent:-1.8em;
}

.first_character {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.body {
    font-family: Libertine;
    font-size: 15pt;
    font-variant-numeric: oldstyle-nums;
    initial-letter: 2;
}

/* 
Source: 
https://css-tricks.com/snippets/css/drop-caps/
- - -
External style sheets in use:
- - -
- base.css
https://codepen.io/gymnasium/pen/eYpRxKE
- flex-type.css
https://codepen.io/gymnasium/pen/LYpzVqr
- focus.css
https://codepen.io/gymnasium/pen/GRpMJzL
- viewport.css
https://codepen.io/gymnasium/pen/LYpzVar
- - -
*/

.has_dropcap:first-letter {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}

.dropcap {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  background: #303030;
  color: #FDF9F2;
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
}

/* 
End.
- - -
*/

.day {
    font-family: Libertine;
    font-size: 15pt;
}

.weekday {
    font-family: Libertine;
    font-size: 15pt;
}

.header {
    font-family: LibertineSC;
    font-size: 15pt;
    font-variant: small-caps;
}

.header_non_SC {
    font-family: Libertine;
    font-size: 15pt;
}

.de-ea {
    font-family: Libertine;
    font-size: 15pt;
    font-variant: none;
    font-weight: normal;
}

.rank {
    font-family: Libertine;
    font-weight: bold;
    font-size: 15pt;
    position: relative;
}

.rank-normal {
    font-family: Libertine;
    font-size: 15pt;
    position: relative;
}

.dominica {
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
    border-radius: 4px;
    font-variant: small-caps;
    padding: 1px 4px 1px 4px;
}

.select {
   background-color: lightgray;
}

.solemnitas-major {
    font-variant: small-caps;
    font-weight: bold;
}

.solemnitas-minor {
    font-variant: small-caps;
    font-weight: bold;
}

.festum,
.memoria-major,
.memoria-minor {
    color: rgb(70, 70, 70);
}

.festum {
    font-variant: small-caps;
    font-weight: bold;
}

.memoria-major {
    font-weight: bold;
}

.memoria-minor {
    font-style: italic;
}